<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirm your email</title>
</head>
<body>
<div style="width: 35rem; margin-left: auto; margin-right: auto;">
    <div style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid rgb(208, 208, 208); text-align: center;">
        <img src="https://fra1.digitaloceanspaces.com/botcommerce/static/images/logo_mini.png"
             style="margin-bottom: 1rem; text-align: center; width: 5rem; margin-left: auto; margin-right: auto;">
    </div>
    <div>
        <h1>Welcome to BotCommerce.</h1>
        <p>Foydalanishni boshlash uchun quyidagi tugmani bosish orqali elektron pochta manzilingizni tasdiqlang.</p><br>

        <div style="text-align: center;">
            <a href="{{ link }}"
               style="background: rgb(50, 115, 220); color: rgb(255, 255, 255); text-decoration: none; margin-top: 10rem; padding: 0.8rem 3rem; border-radius: 0.5rem; display: inline;">
                Confirm
            </a>
            <br>
            <br>
            <br>
            {{ link }}
            <br>
        </div>
    </div>

    <div style="margin-top: 3rem;">
        <div style="color: rgb(99, 99, 99); text-align: center;">
            Made by <a href="#">BotCommerce</a> team.<br>
            All rights reserved
        </div>
    </div>
</div>
</body>
</html>
